@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
  flex: 1 1 50%; /* Allows the content to resize */
}

.title {
  font-size: 3rem; /* Use relative units */
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: left; /* Ensure text is left-aligned */
}

.description {
  font-size: 1.875rem; /* Use relative units */
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 1.875rem; /* Use relative units */
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transition for smooth effect */
}

.contactBtn:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Adjust the glow color and intensity */
  transform: scale(1.05); /* Optional: slightly enlarge button on hover */
}


.heroImg {
  max-width: 80%; /* Adjusted for smaller image */
  z-index: 1;
  border-radius: 100%; /* Makes the image circular */
  border: 15px solid rgb(47, 65, 125); /* Adds a border for the frame */
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  flex: 1 1 30%; /* Allows the image to resize */
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur, .bottomBlur {
  position: absolute;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.topBlur {
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  top: -128px;
  left: -10vw;
}

.bottomBlur {
  width: 70vw;
  height: 50vw;
  min-width: 250px;
  top: 246px;
  right: -25vw;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    margin-left: 5%;
    margin-right: 5%;
  }

  .title {
    font-size: 2.5rem; /* Adjust for smaller screens */
    text-align: center; /* Center-align text on smaller screens */
  }

  .description {
    font-size: 1.5rem; /* Adjust for smaller screens */
    text-align: center; /* Center-align text on smaller screens */
  }

  .contactBtn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 1.875rem; /* Use relative units */
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transition for smooth effect */
  }
  
  .contactBtn:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Adjust the glow color and intensity */
    transform: scale(1.05); /* Optional: slightly enlarge button on hover */
  }
  

  .heroImg {
    width: 30%; /* Make the image smaller on smaller screens */
    margin-bottom: 20px; 
    border: 7px solid rgb(47, 65, 125); /* Adds a border for the frame *//* Add some space between image and content */
  }

  .content {
    align-items: center;
    text-align: center; /* Center-align text */
  }

  .topBlur, .bottomBlur {
    display: none; /* Hide blurs on smaller screens for better visibility */
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 2rem; /* Further adjust for very small screens */
  }

  .description {
    font-size: 1.25rem; /* Further adjust for very small screens */
  }

  .contactBtn {
    font-size: 1.25rem; /* Further adjust for very small screens */
    padding: 10px 15px; /* Further adjust padding */
  }

  .heroImg {
    width: 30%;
     /* Make the image smaller on very small screens */
  }
}
