@import "../../vars.css";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap');

.navbar {
  position: fixed;
  z-index: 110;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  background-color: rgb(24, 55, 86); 
  color: aquamarine;
}

.logoContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 10px;
  max-width: 100px; /* Adjust the size of the logo as needed */
}

.title {
  margin-top: 10%; /* Adjusted margin-top to move the title down */
  max-width: min-content;
  font-size: 12px; /* Adjusted font size */
  font-weight: 600;
  text-decoration: none;
  color: rgb(3, 17, 18);
}

.menuBtn {
  display: none;
  max-width: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(83, 209, 212);
}

.menu {
  display: flex;
  color: rgb(83, 209, 212);
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: rgb(83, 209, 212);
  text-decoration: none;
  transition: color 0.3s ease; /* Add transition for smooth hover effect */
}

.menuItems a:hover {
  color: rgb(255, 255, 255); /* Change color on hover */
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 14px;
    top: 20px;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 23px;
    background: rgb(24, 55, 86);
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 77px;
    position: fixed;
  }

  .menuOpen .menuItems {
    transform: translateY(2s);
  }
}
