@import "../../vars.css";

.navbar {
  position: fixed;
  z-index: 110;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  /* border-radius: 40px; */
  /* background: rgba(0, 0, 50, 0.7); */
  background-color: rgb(24, 55, 86); 
  color: aquamarine;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(83, 209, 212);
}

.menuBtn {
  display: none;
  max-width: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(83, 209, 212);
  /* background-color: rgb(83, 209, 212); */
}

.menu {
  display: flex;
  color: rgb(83, 209, 212);
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: rgb(83, 209, 212);
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 14px;
    top: 20px; /* Adjust this based on your navbar height */
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    color: blue;
    flex-direction: column;
    align-items: center;
    gap: 23px;
    border: 2px black;
    /* border-radius: 10px; */
    background:rgb(24, 55, 86);
    /* background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    ); */
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

  }

  .menuOpen {
    display: flex;
    z-index: 1;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 77px;
    position: fixed;
  }

  .menuOpen .menuItems{
    transform: translateY(2s);
    /* color: blue; */
  }
}
